[submodule "themes/tale-zola"]
	path = themes/tale-zola
	url = git@github.com:ericreg/tale-zola.git
[submodule "themes/terminus"]
	path = themes/terminus
	url = https://github.com/ebkalderon/terminus.git
