on:
  push:
    branches:
      - main
  pull_request:

name: Build and deploy GH Pages

jobs:
  build:
    name: Deploy
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4
        with:
          submodules: recursive
          
      # Build & deploy
      - name: Deploy to gh-pages branch
        uses: shalzz/zola-deploy-action@v0.21.0
        env:
          # Target branch
          PAGES_BRANCH: gh-pages
          # Provide personal access token
          TOKEN: ${{ secrets.TOKEN }}